
@font-face {
  font-family: DellaRespira;
  src: url('/resources/fonts/DellaRespira-Regular.ttf');
}

@font-face {
  font-family: StokeRegular;
  src: url('/resources/fonts/Stoke-Regular.ttf');
}

@font-face {
  font-family: StokeLight;
  src: url('/resources/fonts/Stoke-Light.ttf');
}

@font-face {
  font-family: RobotoSlab;
  src: url('/resources/fonts/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: DroidSans;
  src: url('/resources/fonts/DroidSans.ttf');
}

@font-face {
  font-family: ExoRegular;
  src: url('/resources/fonts/Exo-Regular.ttf');
}

@font-face {
  font-family: PlayRegular;
  src: url('/resources/fonts/Play-Regular.ttf');
}

@font-face {
  font-family: PlayBold;
  src: url('/resources/fonts/Play-Bold.ttf');
}

@font-face {
  font-family: Fjord;
  src: url('/resources/fonts/FjordOne-Regular.ttf');
}

@font-face {
  font-family: BlackChancery;
  src: url('/resources/fonts/BLKCHCRY.TTF');
}

@font-face {
  font-family: Carrois;
  src: url('/resources/fonts/CarroisGothicSC-Regular.ttf');
}

@font-face {
  font-family: Lora;
  src: url('/resources/fonts/Lora-Regular.ttf');
}

body, html {
  background-color: hsl(210, 20%, 93%);
  background-repeat: repeat;
  font-family: Fjord, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #555;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  /*text-shadow: rgba(0,0,0,.01) 0 0 1px;*/
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/resources/images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
  background-size: 64px 64px;
}

div.title {
  text-align: center;

  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(0, 0, 0, 1)),
    color-stop(0%, rgba(0, 0, 0, 0.6)),
    to(rgba(1, 1, 1, 1)));
}

div.title-text {
  font-family: Fjord;
  color: #cccccc;
  /*text-shadow: 1px 1px 3px #0f0f0f;*/
}

div.title-text-light {
  font-family: Fjord;
  color: #333;
  /*text-shadow: 1px 1px 20px black;*/
}

div.title-main {
  font-size: 54px;
}

div.title-main-sub {
  font-size: 36px;
}

a {
  text-decoration: none;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  color: #a30;
}

a:hover {
  color: #d30;
}

a:active {
  -o-transition: .0s;
  -ms-transition: .0s;
  -moz-transition: .0s;
  -webkit-transition: .0s;
  transition: .0s;
  color: #e77;
}

a:visited {
}

h1 {
  margin-top: 50px;
  font-size: 32px;
  text-shadow: 1px 1px 1px #bababa;
  border-bottom: 1px solid #ccc;
}

h2 {
  margin-top: 50px;
  padding-bottom: 5px;
  font-size: 24px;
  text-shadow: 1px 1px 1px #bababa;
}

h3 {
  margin-top: 35px;
  font-size: 18px;
  text-shadow: 1px 1px 1px #bababa;
}

#wrap {
  /*background-image: url('/resources/images/content3.png');
  background-repeat: repeat;*/
  min-height: 100%;
}

#top {
  background-repeat: repeat-x;
  height: 54px;
  /*box-shadow: 0px 4px 8px #000;*/
  /*background-image: url('/resources/images/header-modern.png');*/
  background-color: #f3f3f3;
  box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
  position: relative;
  border-top: 3px solid #a30;
}

form.horizsearch {
  float: right;
  position: relative;
  margin-top: 14px;
  text-decoration: none;
  background: transparent;
  width: 160px;
  padding-left: 6px;
}

form.horizsearch input {
  display: block;
  border: 0px groove #999;
  background-color: #f5f5f5;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  height: 100%;
}

form.horizsearch input:focus {
  background-color: #f9f9f9;
  outline: 0;
}

form.horizsearch input {
  color: #eee;
}

form.horizsearch input:focus {
  color: #777;
}

ul.topmenu {
  height: 54px;
  padding-left: 0px;
  float: left;
}

ul.topmenuright {
  height: 54px;
  padding-left: 0px;
  float: right;
}

li.topelement {
  height: 54px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

li.topzero {
  width: 1px;
}

li.topelement a {
  line-height: 54px;
  margin: 0px;
  padding: 0px;
  margin-right: 12px;
}

li.topelement a i {
  margin-left: 12px;
}

li.topdivider {
  border-left: 1px solid #e0e0e0;
  overflow: hidden;
  margin-left: -4px;
  margin-right: -4px;
}

#main {
  color: #555;
}

div.main-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

div.main-description h2 {
  text-align: center;
  vertical-align: text-top;
  margin-top: 10px;
  border-bottom: 0px solid transparent;
}

div.main-description div {
  text-align: center;
}

div.main-description hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
}

div.main-description div.main-code {
  padding-top: 0px;
  text-align: left;
}

div.main-items-icon {
  cursor: pointer;
  outline: none;
  display: inline-block;
  width: 46px;
  height: 36px;
  padding-top: 10px;
  border: 1px solid #aaa;
  visibility: visible;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  text-align: center;
  vertical-align: text-top;
}

div.main-items-icon:hover {
  border: 1px solid #707070;
}

div.main-items-icon img {
  padding-left: 10px;
  height: 26px;
  opacity: 0.4;
  filter: alpha(opacity = 40); /* For IE8 and earlier */
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}

div.main-items-icon:hover img {
  opacity: 0.7;
  filter: alpha(opacity = 70); /* For IE8 and earlier */
}

ul.horizmenu {
  font-family: PlayRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul.horizmenu li {
  display: inline-block;
  vertical-align: top;
  padding-top: 0px;
  color: #b30;
  /*text-shadow: 0px -1px 0px #000;*/
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

ul.horizmenu li.topbutton:hover {
  background-color: #e5e5e5;
  box-shadow: inset 0 3px 0 #a30, inset 0 0 4px 1px #d5d5d5;
  /*text-shadow: 0px -1px 0px #000;*/
}

ul.horizmenu li.topbutton a {
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  opacity: 0.9;
  text-transform: uppercase;
}

ul.horizmenu li.logo {
  margin-top: 6px;
  height: 48px;
  background-color: #f3f3f3;
  /*text-shadow: 0px -1px 0px #000;*/
}

ul.horizmenu li span.logotext {
  font-family: BlackChancery;
  font-size: 31px;
  text-shadow: 1px 1px 1px #999;
  color: #b30;
  vertical-align: top;
  padding-left: 6px;
  padding-right: 12px;
}

ul.horizmenu li a {
  width: 100%;
}

ul.horizmenu li a i.icon {
  margin-right: 8px;
  font-size: 15px;
}

ul.horizmenu li a:link {
  text-decoration: none;
  color: #888;
  display: block;
}

ul.horizmenu li a:visited {
  text-decoration: none;
  color: #888;
}

ul.horizmenu li a:active {
  text-decoration: none;
  color: #b30;
}

ul.horizmenu li a:hover {
  text-decoration: none;
  color: #b30;
}

div.banner {
  background-color: hsl(44, 62%, 82%);
  text-align: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 234px;
}

div.banner div.bannercenter {
  position: relative;
  margin: auto;
  width: 960px;
  left: -240px;
}

div.banner div.bannercenter img {
}

div.banner div.bannercenter div.bannerlinks {
  position: relative;
  left: 1010px;
  top: -240px;
  width: 200px;
}

div.banner div.bannercenter div.bannerlinks a img {
  height: 40px;
  opacity: 0.7;
  filter: alpha(opacity = 70); /* For IE8 and earlier */
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;
}

div.banner div.bannercenter div.bannerlinks a:hover img {
  height: 40px;
  opacity: 1.0;
  filter: alpha(opacity = 100); /* For IE8 and earlier */
}

div.bannerdivider {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #ededed;
  position: relative;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.12);
  min-height: 16px;
  margin: 0px;
  padding: 0px;
}

div.bannerlogoholder {
  position: relative;
  left: 50%;
  height: 10px;
  width: 10px;
}

div.bannerlogo {
  z-index: 10;
  background-repeat: no-repeat;
  padding-top: 18px;
  position: relative;
  left: -130px;
  top: -80px;
  width: 250px;
}

div.bannerlogo img {
  height: 180px;
  margin-left: 27px;
}

span.bannerdescription {
  position: absolute;
  left: 200px;
  top: 160px;
  font-family: Fjord;
  font-size: 27px;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(200, 200, 200, 0.9);
  color: rgba(204, 30, 0, 0.8);
  z-index: 10;
}

div.bl {
  background-color: #f3f3f3;
  line-height: 30px;
  border-radius: 24px;
  color: #777;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.12);
}

div.bl:hover {
  background-color: #e0e0e0;
}

div.bl a {
  color: #777;
  display:block;
  height: 100%;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

div.bl a:hover {
  color: #d30;
}

div.bl a img {
  margin-top: 4px;
}

div.bl a img.buildstatus {
  opacity: 0.5;
  filter: alpha(opacity = 50); /* For IE8 and earlier */
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

div.bl a:hover img.buildstatus {
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}

div.bl div.right-edge {
  position: relative;
  width: 0;
  height: 0;
  border-right: 30px solid #f5f5f5;
  border-top: 30px solid #f3f3f3;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 0px 1px 1px rgba(0,0,0,0.08);
}

div.bl div.edge-cover-right {
  background-color: #f5f5f5;
  width: 6px;
  height: 32px;
  position: relative;
  bottom: 64px;
  left: 170px;
}

div.bl div.edge-cover {
  background-color: #f5f5f5;
  width: 30px;
  height: 3px;
  position: relative;
  bottom: 30px;
  left: 140px;
}

div.bl:hover div.right-edge {
  border-top: 30px solid #e0e0e0;
}

div.bl div.left-edge {
  position: relative;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-top: 30px solid #f3f3f3;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: -2px 0px 1px 1px rgba(0,0,0,0.08);
}

div.bl:hover div.left-edge {
  border-top: 30px solid #e0e0e0;
}

div.bl-download {
  position: relative;
  top: -210px;
  left: 50px;
  width: 180px;
  height: 30px;
  padding-right: 40px;
  text-align: right;
}

div.bl-download div.right-edge {
  left: 200px;
  top: -30px;
}

div.bl-build-status {
  position: relative;
  top: -200px;
  left: 40px;
  width: 180px;
  height: 30px;
  padding-right: 50px;
  text-align: right;
}

div.bl-build-status div.right-edge {
  left: 140px;
  top: -30px;
}

div.bl-tutorial {
  position: relative;
  top: -270px;
  left: -300px;
  width: 205px;
  height: 30px;
  padding-left: 45px;
  text-align: left;
}

div.bl-tutorial div.left-edge {
  left: -30px;
  top: -30px;
}

div.bl-source {
  position: relative;
  top: -260px;
  left: -300px;
  width: 205px;
  height: 30px;
  padding-left: 60px;
  text-align: left;
}

div.bl-source div.left-edge {
  left: -30px;
  top: -30px;
}

#header {
  /*background-image: url('/resources/images/header3.png');
  background-repeat: repeat-x;*/
  height: 48px;
}

.titlebar {
  /*font-family: DejaVuSansMono;*/
  font-size: 24px;
  color: #444;
  text-shadow: 1px 1px 1px #7a7a7a;
  margin-bottom: 6px;
}

.subtitlebar {
  /*font-family: DejaVuSansMono;*/
  font-size: 18px;
  color: #444;
  text-shadow: 1px 1px 1px #bababa;
}

#content {
  overflow: auto;
  font-size: 16px;
  color: #444;
  padding: 10px;
  padding-bottom: 40px;
}

#footer {
  /*box-shadow: 0px 0px 15px #000;*/
  /*background-image: url('/resources/images/footer-modern.png');*/
  color: #555;
  border-top: 1px solid #d5d5d5;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
  background-color: #f2f2f2;
  background-repeat: repeat-x;
  height: 32px;
  margin-top: -32px;
  position: relative;
  clear: both;
}

#footercontent {
  margin-top: 0px;
}

ul.footermenu {
  height: 18px;
  float: left;
}

.footerelement {
  height: 32px;
  line-height: 32px;
}

li.footerdivider {
  border-left: 1px solid #dedede;
  overflow: hidden;
  margin-left: -4px;
  margin-right: -4px;
}

ul.horizmenu li.footerelement {
  margin-top: 0px;
  transition: all 0.2s ease-in-out;
}

ul.horizmenu li.footerelement:hover {
  background-color: #d5d5d5;
  box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.1);
}

ul.horizmenu li.footerelement a {
  margin-right: 16px;
}

ul.horizmenu li.footerelement a i {
  padding-left: 10px;
}

ul.horizmenu li.footerelement a:link {
  color: #555;
}

ul.horizmenu li.footerelement a:visited {
  color: #555;
}

ul.horizmenu li.footerelement a:hover {
  color: #b30;
}

div.footer a:link {
  text-decoration: none;
  color: #333;
}

div.footer a:visited {
  text-decoration: none;
  color: #333;
}

div.footer a:active {
  text-decoration: none;
  color: #b30;
}

div.footer a:hover {
  text-decoration: none;
  color: #b30;
}

div.footer i.icon {
  margin-right: 4px;
  font-size: 15px;
}

img.footer {
  vertical-align: bottom;
}

.footer {
  font-size: 12px;
}

.copyright {
  float: right;
}

.quote {
  text-align: left;
}

.quote-label {
}

.bigquote {
  border: 1px solid #c0c0c0;
  background: #f8f8f8;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 20px;
}


.image-avatar {
  border: 1px solid #c0c0c0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
}

span.button {
  padding: 7px;
  margin: 10px;
  width: 240px;
  display: inline-block;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #bbb;

  -moz-box-shadow: inset 1px 1px 1px 0px #9a9a9a;
  -webkit-box-shadow: inset 1px 1px 1px 0px #9a9a9a;
  box-shadow: inset 1px 1px 1px 0px #9a9a9a;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d3d3d), color-stop(1, #1c1c1c) );
  background:-moz-linear-gradient( center top, #3d3d3d 5%, #1c1c1c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#1c1c1c');
  background-color:#3d3d3d;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #666;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  text-decoration:none;
  text-align:center;
  /*text-shadow: 1px 1px 3px #1a1a1a;*/
}

span:hover.button {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4d4d4d), color-stop(1, #2c2c2c) );
  background:-moz-linear-gradient( center top, #4d4d4d 5%, #2c2c2c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4d4d', endColorstr='#2c2c2c');
  background-color:#2c2c2c;
}

span:active.button {
  -moz-box-shadow: inset -1px -1px 0px 0px #9a9a9a;
  -webkit-box-shadow: inset -1px -1px 0px 0px #9a9a9a;
  box-shadow: inset -1px -1px 0px 0px #9a9a9a;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2c2c2c), color-stop(1, #4d4d4d) );
  background:-moz-linear-gradient( center top, #2c2c2c 5%, #4d4d4d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2c2c', endColorstr='#4d4d4d');
}

span.button img {
  -webkit-filter: saturate(0.1);
  opacity: 0.65;
  filter: alpha(opacity=90);
  margin-top: 4px;
}

span:hover.button img {
  -webkit-filter: saturate(1.0);
  opacity: 0.9;
  filter: alpha(opacity=100);
}

a:focus, a:active {
  outline: none;
}

table.summary {
  margin: 20px;
  margin-left: 30px;
  background: #f3f3f3;
  border: 1px solid #dedede;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

table.summary tr td {
  padding: 5px;
}


table.docs-tip {
  background-color: #eee;
  border: 1px solid #9ab8ef;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 20px;
  padding: 4px;
  vertical-align: middle;
  box-shadow: 0px 1px 4px #9a9a9a;
}

table.docs-tip td {
  padding: 4px;
}

table.docs-tip img {
  height: 32px;
}

.snippet-carousel {
  margin: auto;
}

.snippet-nav-carousel {
  width: 470px;
  margin-left: 215px;
}

.slick-slide {
  outline: none;
}

.slick-current div.main-items-icon {
  border: 1px solid #5f5f5f;
}

.slick-current div.main-items-icon img {
  opacity: 0.80;
}

.story-header {
  font-family: BlackChancery;
  font-weight: normal;
  font-size: 31px;
  color: rgba(70, 70, 70, 0.8);
  margin-top: 15px;
  border-bottom: none;
}

.talk-title {
  font-size: 16px;
}

table.talks-papers > tbody > tr > td {
  padding: 6px;
}

.main-code > pre.prettyprint li {
  border-bottom: 1px solid #e6e6e6;
}

pre.prettyprint li {
  border-bottom: 1px solid #e6e6e6;
}

.snippet-animation {
  text-align: center;
}

.snippet-animation-frame {
  display: inline-block;
  background-color: #000;
}

.paper-frame {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 0px;
  box-shadow: 0px 4px 4px #888;
}

.flat-frame {
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
}

.text-snippet {
  margin: 5px;
}

.punchline {
  font-family: Fjord;
  font-size: 38px;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(200, 200, 200, 0.9);
  color: rgba(100, 100, 100, 0.9);
  z-index: 10;
}

.subpunchline {
  font-family: Fjord;
  font-size: 23px;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(200, 200, 200, 0.9);
  color: rgba(100, 100, 100, 0.8);
  z-index: 10;
}

span.punchline {
  text-align: center;
  display:block;
}

span.subpunchline {
  text-align: center;
  display:block;
}

.subpunchline-color1 {
  color: rgba(60, 160, 40, 0.8);
}

.subpunchline-color2 {
  color: rgba(160, 20, 0, 0.8);
}

.subpunchline-color3 {
  color: rgba(180, 120, 0, 0.8);
}

.frontends {
  text-align: center;
}

hr.fancy-line {
  border: 0;
  height: 1px;
  position: relative;
  margin: 0.5em 0;
}

hr.fancy-line:before {
  top: -0.5em;
  height: 1em;
}

hr.fancy-line:after {
  content: '';
  height: 0.5em;
  top: -8px; /*or bottom:0; */
}

hr.fancy-line:before, hr.fancy-line:after {
  content: '';
  position: absolute;
  width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(75%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
}

hr.fancy-line:after {
  background: #f4f4f4;
}

div.fancy-title {
  text-align: center;
  position: relative;
  font-size: 20px;
  top: -21px;
}

div.fancy-title span {
  background: hsl(210, 20%, 93%);
  padding: 12px;
}

h2.post-title {
  padding-bottom: 0px;
  margin: 0px;
}

span.list-title {
  font-size: 16px;
}

ul.post-list {
  padding: 0px;
}

ul.post-list li {
  list-style-type: none;
}

span.post-date {
  font-size: 14px;
}

a.faint-link {
  color: #555;
}

a.faint-link:hover {
  color: #888;
}

#measurements {
  text-align: center;
}

#measurements img {
  height: 500px;
}
