body {
  font-size: 12px;
  color: #555;
  overflow: hidden;
}

ul {
  margin-bottom: 0px;
}

label {
  margin-bottom: 0px;
}

::-webkit-scrollbar {
  background-color: rgba(135, 135, 135, 0.5);
}

::-webkit-scrollbar:vertical {
  width: 14px;
}

::-webkit-scrollbar-button {
  background-color: rgba(240, 240, 240, 0.15);
  width: 14px;
  height: 14px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-button:hover {
  background-color: rgba(240, 240, 240, 0.50);
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(img/icon/arrow-up.png);
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url(img/icon/arrow-down.png);
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url(img/icon/arrow-left.png);
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:horizontal:increment {
  background-image: url(img/icon/arrow-right.png);
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-track-piece {
}

::-webkit-scrollbar-thumb {
  background-color: rgba(240, 240, 240, 0.25);
}

::-webkit-scrollbar-thumb:vertical {
  border-left: 2px solid rgba(0, 0, 0, 0);
  border-right: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:horizontal {
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(240, 240, 240, 0.50);
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-resizer {
  background-color: rgba(0, 0, 0, 0.3);
}
