@font-face {
  font-family: "ReactorIcons";
  src: url("font/reactor-icons.eot");
  src: url("font/reactor-icons.eot") format("embedded-opentype"),
    url("font/reactor-icons.woff2") format("woff2"),
    url("font/reactor-icons.woff") format("woff"),
    url("font/reactor-icons.ttf") format("truetype"),
    url("font/reactor-icons.svg#Purchased") format("svg");
  font-weight: normal;
  font-style: normal;
}

.reactor-icons {
  display: inline-block;
  font: normal normal normal 14px/1 ReactorIcons;
  font-size: 15px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reactor-icons-timeline:before {
  content: "\f100";
}
