:root {
  --widget-background-color-dim: rgba(223, 223, 223, 1.0);
  --widget-background-color: rgba(230, 230, 230, 1.0);
  --widget-background-color-selected: rgba(210, 210, 210, 1.0);
  --widget-background-color-hovered: rgba(200, 200, 200, 1.0);
  --widget-background-color-active: rgba(150, 150, 150, 1.0);
  --widget-font-color: rgba(75, 75, 75, 1.0);
  --widget-font-color-bright: rgba(100, 100, 100, 1.0);
  --widget-border: 1px solid rgba(180, 180, 180, 0.3);
  --widget-border-bright: 1px solid rgba(170, 170, 170, 0.6);
  --widget-border-transparent: 1px solid rgba(170, 170, 170, 0.1);
  --widget-border-dim: 1px solid rgba(110, 110, 110, 0.2);
  --terminal-cursor-color: rgba(75, 75, 75, 0.7);
  --terminal-cursor-background-color: rgba(225, 225, 225, 0.0);
  --terminal-font-color: rgba(75, 75, 75, 0.9);
  --status-badge-background-color: rgba(15, 15, 15, 0.4);
  --status-badge-ok-color: rgba(0, 200, 0, 0.7);
  --status-badge-loading-color: rgba(0, 100, 200, 0.7);
  --status-badge-error-color: rgba(200, 0, 0, 0.7);
  --status-badge-default-color: rgba(120, 120, 120, 0.7);
  --graph-node-color: rgba(0, 220, 0, 1.0);
  --graph-node-hover-border-color: rgba(255, 255, 255, 0.9);
  --graph-label-color: rgba(85, 85, 85, 0.9);
  --graph-label-hover-color: rgba(255, 255, 255, 0.8);
  --graph-label-hover-background-color: rgba(40, 40, 40, 0.5);
  --graph-edge-color: rgba(0, 160, 255, 0.8);
  --log-event-created: rgba(0, 150, 0, 0.95);
  --log-event-terminated: rgba(250, 100, 0, 0.95);
  --log-event-sent: rgba(0, 100, 255, 0.95);
}
