name: EA JDK
on: workflow_dispatch
env:
  COURSIER_CACHE: ${{ github.workspace }}/.cache/coursier
jobs:
  linux-ea:
    runs-on: ubuntu-latest
    container: "ghcr.io/renaissance-benchmarks/renaissance-buildenv:v7-openjdk22-ea"
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fix Git safe directory
        shell: bash
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Environment configuration
        shell: bash
        run: tools/ci/pre-show-env.sh

      - name: Coursier downloads cache
        uses: actions/cache@v3
        with:
          enableCrossOsArchive: true
          key: coursier_cache-${{ hashFiles('build.sbt') }}
          path: ${{ env.COURSIER_CACHE }}

      - name: Build both base & JMH bundles
        shell: bash
        run: tools/ci/build-both.sh

      - name: Check JMH bundle
        shell: bash
        run: tools/ci/check-jmh.sh

      - name: Run the suite
        shell: bash
        run: tools/ci/bench-base.sh

      - name: Run the suite in standalone mode
        shell: bash
        run: tools/ci/bench-standalone.sh

      - name: Run the suite with JMH
        shell: bash
        run: tools/ci/bench-jmh.sh
